{% extends 'base.html' %}
{% load custom_tags %}

{% block page-header %}
客户信息列表
<a href="{% url 'customer_add' %}">
    <button type="button" class="btn btn-default pull-right">
      <span class="glyphicon glyphicon-plus"></span> ADD客户
    </button>
</a>
{% endblock %}

{% block page-content %}
<div class="panel panel-default">

    <div class="panel-heading" id="panel-heading">
        <div class="col-md-9 " >
            <form action="{% url url_alias %}?page=1{{ search_str }}" method="GET">
                {% for input in search_val_dic.items %}
                    <input type="hidden" name="{{ input.0 }}" value="{{ input.1 }}"/>
                {% endfor %}
                <div class="col-md-5">
                    <input name="find__qq" class="form-control" type="text" value="{{ find_list.1 }}" placeholder="输入QQ号" minlength="1" maxlength="20" required>
                </div>
                <div class="col-md-3 search-button">
                    <button type="submit" id="btn-submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span> 搜索
                    </button>
                    {% if filter_dic %}
                    <button type="button" id='btn-filter' class="btn btn-default">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    {% include 'app01/filter_component.html' %}

    <table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>QQ</th>
        <th>姓名</th>
        <th>客户来源</th>
        <th>咨询课程</th>
        <th>班级类型</th>
        <th>客户状态</th>
        <th>课程顾问</th>
        <th>日期</th>
        <th>客户备注</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in data_list %}
        <tr>
            <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.id }}</a></td>
            <td>{{ customer.qq }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.source }}</td>
            <td>{{ customer.course }}</td>
            <td>{{ customer.get_class_type_display }}</td>
            <td class="{{ customer.status }}">{{ customer.get_status_display }}</td>
            <td>{{ customer.consultant }}</td>
            <td>{{ customer.date }}</td>
            <td>{{ customer.customer_note|truncatechars:30 }}</td>
            </tr>
    {% endfor %}
    </tbody>
</table>
    <div class="panel-footer">
        <!--整个分页功能都做成标签-->
        <nav>{% pagination_bar data_list search_str find_list %}</nav>
    </div>
</div>
<div class="">

    <!--分页中的部分功能做成标签-->
    <nav>
        <ul class="pagination">
            {% if data_list.has_previous %}
            <li class=""><a href="?page={{ data_list.previous_page_number }}{{ search_str }}">&laquo;</a></li>
            {% endif %}
            {% for page_num in data_list.paginator.page_range %}
                {% guess_page data_list.number page_num search_str find_list %}

            {% endfor %}
            {% if data_list.has_next %}
            <li class=""><a href="?page={{ data_list.next_page_number }}{{ search_str }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    <!--不使用自定义标签，显示所有页面-->
    <nav>
        <ul class="pagination">
            {% if data_list.has_previous %}
            <li class=""><a href="?page={{ data_list.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for page_num in data_list.paginator.page_range %}
                <li class="{% if page_num == data_list.number %}active{% endif %}"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endfor %}
            {% if data_list.has_next %}
            <li class=""><a href="?page={{ data_list.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    <!--使用默认的简单分页-->
    <span class="">
        {% if data_list.has_previous %}
        <a href="?page={{ data_list.previous_page_number }}">previous</a>
        {% endif %}
        <span class="">
            Page {{ data_list.number }} of {{ data_list.paginator.num_pages }}
        </span>
        {% if data_list.has_next %}
         <a href="?page={{ data_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

