{% extends 'base.html' %}
{% load custom_tags %}

{% block page-header %}
学员上课记录列表
<a href="{% url 'studyrecord_add' %}">
    <button type="button" class="btn btn-default pull-right">
      <span class="glyphicon glyphicon-plus"></span> ADD学员上课记录
    </button>
</a>
{% endblock %}

{% block page-content %}
<div class="panel panel-default">

    <div class="panel-heading" id="panel-heading">
        <div class="col-md-9 " >
            <form action="{% url url_alias %}?page=1{{ search_str }}" method="GET">
                {% for input in search_val_dic.items %}
                    <input type="hidden" name="{{ input.0 }}" value="{{ input.1 }}"/>
                {% endfor %}
                <div class="col-md-5">
                    <input name="find__student__name" class="form-control" type="text" value="{{ find_list.1 }}" placeholder="输入学员姓名" minlength="1" maxlength="20" required>
                </div>
                <div class="col-md-3 search-button">
                    <button type="submit" id="btn-submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span> 搜索
                    </button>
                    {% if filter_dic %}
                    <button type="button" id='btn-filter' class="btn btn-default">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    {% include 'app01/filter_component.html' %}

    <table class="table table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" name="all_ids" value=""/></th>
        <th>ID</th>
        <th>学员</th>
        <th>第几天课程</th>
        <th>上课记录</th>
        <th>本节成绩</th>
        <th>上课日期</th>
        <th>备注</th>
    </tr>
    </thead>
    <tbody>
    {% for data in data_list %}
        <tr>
            <td><input type="checkbox" name="id" value="{{ data.id }}"/> </td>
            <td><a href="{% url 'studyrecord_detail' data.id %}">{{ forloop.counter }}</a></td>
            <td>{{ data.student }}</td>
            <td>{{ data.course_record }}</td>
            <td>{{ data.get_record_display }}</td>
            <td>{{ data.get_score_display }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.note }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    <div class="panel-footer">
        <div class="row">
            <select name="data-action" class="form-control data-action action-select">
            {% for action in actions %}
                <option value="{{ action.0 }}">{{ action.1 }}</option>
            {% endfor %}
            </select>
            <button class="form-control data-action action-ok">GO</button>{% csrf_token %}
        </div>
        <!--整个分页功能都做成标签-->
        <nav>{% pagination_bar data_list search_str find_list %}</nav>
    </div>
</div>

{% endblock %}

